/* PHONE LANDSCAPE VERSION */
@media only screen and (min-width: 320px) and (orientation : landscape) {

}
/* PHONE PORTRAIT VERSION */
@media only screen and (min-width: 320px) and (orientation : portrait) {

}

/* TABLET LANDSCAPE VERSION - not work, are the same as desktop */
@media only screen and (min-width: 768px) and (orientation : landscape) {

}
/* TABLET PORTRAIT VERSION */
@media only screen and (min-width: 768px) and (orientation : portrait) {

}
/* DESKTOP VERSION */
@media only screen and (min-width: 980px) {

}
/* PRINT VERSION */
@media print {

}

body {
  background-image: url("images/star_trek.png");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
}

@font-face {
  font-family: "main";
  src: url("fonts/Ba.TTF");
}

h1 {
  position: relative;
  font-family: "main";
  font-size: 75px;
  color: white;
  letter-spacing: 10px;
  -webkit-text-stroke: 1px #000000;
  -webkit-text-fill-color: #FFFFFF
}

main {
  border: red 2px solid;
}


#instructionsTitle {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
  border-bottom: 5px solid #19565A;
  border-radius: 15px;
  display: inline;
}

#instructions {
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 3px;
  font-size: 25px;
  background: black;
  position: relative;
  top: 100px;
  display: inline-block;
  border: 5px solid black;
  border-radius: 50px;
  width: 70%;
}

.quoteAndclickInstructions {
  width: 75%;
  position: relative;
  left: 12.5%;
}

img {
  border-radius: 20px;
  position: relative;
  border: 5px solid black;
  margin: 70px 50px;
  top: 50px;
  width: 220;
  height: 316;
}

.div {
  border-bottom: 5px solid white;
  border-radius: 15px;
}

#click {
  display: inline;
  font-size: 23px;
  color: white;
  padding: 10px;
  font-weight: bolder;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 5px;
  position: relative;
}

#quote {
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 5px;
  font-size: 25px;
  margin-top: 100px;
  background-color: black;
  display: inline-block;
  padding: 5px;
  border: 3px solid #19565A;
  border-radius: 20px;
  font-style: italic;
  /* position: relative;
  bottom: 65px; */
}

footer {
  position: relative;
  text-align: center;
  height: auto;
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 5px;

}

.github {
  position: relative;
  right: 500px;
  top: 50px;
  font-size: 15px;
  color: black;
  border: 3px solid black;
  background-color: white;
  padding: 10px;
  text-decoration: none;
  border-radius: 15px;
  font-weight: bolder;
}

.message {
  font-size: 20px;
  position: relative;
  top: 20px;
  color: white;

}

.linkedin {
  position: relative;
  left: 500px;
  color: white;
  bottom: 50px;
  font-size: 15px;
  color: black;
  border: 3px solid black;
  background-color: white;
  padding: 10px;
  text-decoration: none;
  border-radius: 15px;
  font-weight: bolder;
}

a:hover {
    background-color: #19565A;
}
